*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;

}

    .col-1{width: 8.3%;}
    .col-2{width: 16.66%;}
	.col-3{width: 25%;}
	.col-4{width: 33.33%;}
	.col-5{width: 41.66%;}
	.col-6{width: 50%;}
	.col-7{width: 58.33%;}
	.col-8{width: 66.66%;}
	.col-9{width: 75%;}
	.col-10{width: 83.33%;}
	.col-11{width: 91.66%;}
    .col-12{width: 100%;}


[class*='col-']
{
	border: 1px solid gray;
	float: left;
	
}


	.row:after{
		content:'' ;
		clear: both;
		display: block;

	}

.menu-h-50{height: 50px;}
.header-h-200{height: 200px;}
.big-footer-h-300{height: 300px;}
.body-h-600{min-height: 600px;}
.footer-h-40{min-height: 40px;}

.container{
	width: 90%;
	height: auto;
	margin: 0 auto;
}


.logo{
	background-color: rgb(123, 99, 173);
}
.run{
	background-color: rgb(143, 148, 138);
}



footer{
			width: 100%;

			
			bottom:0px;
			text-align:center;
			background-color: rgb(90, 77, 117);
			
			color: white;
		}


		.box{
			text-align: center;
			direction: none;
			text-decoration: none;
			padding: 10px;

			background-color: rgb(40, 43, 36);
			
			border: 1px green;
			border-radius: 0px;


			
			text-align: center;
			float: left;
			color: white;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			position: relative;
		}
























